*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.nav{
background-color: #353535;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
gap: 2rem;
padding: 1rem 3rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  display: flex;
  height: 100%;
  align-items: center;
}
.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 2.5rem;
}
.site-title{
  font-size: 2rem;
  text-decoration: none;
}
.nav ul li {
  font-size: 16px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav ul li:hover{
  text-decoration: underline;
}
.nav ul li:active{
  color: aliceblue;
}
button{
  cursor: pointer;
  color: black;
  background: linear-gradient(whitesmoke, #9198e5);
  padding: 0.5rem 2.5rem;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: serif;
  line-height: 24px;
  border-radius: 7px;
}
button:hover{
  color: lightslategrey;
}
.footer-container{
  box-sizing: border-box;
  background-color: #000;
}
.footer-column{
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;

}
.column {
  float: left;
  width: 33.33%;
  height: 230px; /* Should be removed. Only for demonstration */
  background-color: #000;
  color: white;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-bottom: 2rem;
  /* border-bottom: solid 1px;
  border-color: aliceblue; */
}
.column a {
  text-decoration: none;
  color: white;
  
}
.column li{
  list-style: none;
  padding-bottom: 1rem;
  
  
}
.space {
  padding-left: 1rem;
}
.size{
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  float: left;
  width: 20%;
}
.text-size{
  font-size: 14px;
  color: aliceblue;
  text-align: center;
  margin-top: -8px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #000;
}